.q-sidebar-rail {
  display: flex;
  flex: 0 0 var(--q-sidebar-rail-width);
  flex-direction: column;
  width: var(--q-sidebar-rail-width);
  height: 100%;
  overflow: hidden;
  background-color: var(--q-sidebar-bg);
}

.q-sidebar-rail-header {
  padding: var(--q-space-4);
}

.q-sidebar-rail-tools {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  align-items: center;
  gap: var(--q-space-4);
  padding: var(--q-space-8) var(--q-space-4);
  border-right: var(--q-border-1) solid var(--q-sidebar-border);
}

.q-sidebar-rail-settings {
  margin-top: auto;
}
